[submodule "dependencies/SDL2"]
	path = dependencies/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3-stable
